[user]
  email = simon.lefort@gmail.com
  name = Simon Lefort
[status]
  showUntrackedFiles = all
[alias]
  # Command shortcuts
  ci = commit
  st = status

  # Print a nice tree-like log
  lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s   %Cgreen(%an %ar)%Creset'

[pull]
	rebase = false
