[user]
  email = simon.lefort@gmail.com
  name = Simon Lefort
[status]
  showUntrackedFiles = all
[alias]
  lg = log --graph   --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s   %Cgreen(%an %ar)%Creset'
